body {
  position: relative;
}
.stupid-text {
  position: absolute;
  text-align: justify;
  width: 50%;
  left: 400px;
  top: 120px;
}
.stupid-clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock {
  width: 200px;
  height: 200px;
  background: white;
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
}

.hand {
  width: 50%;
  height: 4px;
  background: black;
  position: absolute;
  top: 50%;
  left: 0%;
  transform-origin: 100%; /* Rotate from the left end */
  transition: transform 0.1s ease-in-out;
}

.center-point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: green;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.hours-indicator {
  position: absolute;
  width: 20px; /* Size of the number container */
  height: 20px;
  text-align: center;
  line-height: 20px; /* Vertically center the text */
  font-size: 14px;
  font-weight: bold;
  left: 88px;
  top: 88px;
  color: black;
  transform-origin: 50% 100%; /* Rotate from the bottom center */
}

/* .hr-1{
  transform: (30deg) translate(0px, -130px) rotate(-30deg)
} */
.hour {
  height: 6px;
  background: red;
}

.minute {
  height: 4px;
  background: blue;
}

.second {
  height: 2px;
  background: green;
}
